{% extends "index.html" %}

{% load static %}

{% block encabezado %} Blog {% endblock %}

{% block titulo %} Bienvenidos a mi blog de comida {% endblock %}

{% block subtitulo %} este es un blog de cocina {% endblock %}

{% block blog %}

{% for blog in lista_blog %}
<!-- Post preview-->
    <div class="post-preview">
        <a href="{% url 'app_blog:blog_mostrar_detalle' blog.id %}">
            <h2 class="post-title">{{ blog.titulo }}</h2>
            <h3 class="post-subtitle">{{ blog.subtitulo }}</h3>
        </a>
        <p class="post-meta">
            Autor: 
            <a href="{% url 'app_user:user_perfil' blog.autor.id %}">{{ blog.autor }}</a>
            {{ blog.fecha }}
        </p>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
    {% endfor %}
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'app_blog:blog_crear' %}">crear nuevo blog</a>
    {% endif %}


{% endblock %}
