{% extends "padre.html" %}

{% load static %}

{% block encabezado %} inicio {% endblock %}

{% block titulo %} Bienvenidos a mi blog de comida {% endblock %}

{% block subtitulo %} este es un blog de cocina {% endblock %}

{% block contenido %}
    <h3 style="color: white;"> Acerca de mi:</h3>
    <p style="color: white;"><b>Tomas Di Renzo</b></p>
    <p style="color: white;"><b>Tengo 24 años y vivo en buenos aires </b></p>
    <p style="color: white;"><b>Email: direnzotomas@gmail.com</b></p>
    <p style="color: white;"><b>haciendo un breve curso de python logre hacer esta pagina, <br> no es la gran cosa pero es mia y la arme desce cero </b>{{perfil.descripcion}}</p>

{% endblock %}