{% extends "padre.html" %}

{% load static %}

{% block encabezado %} inicio {% endblock %}

{% block titulo %} Bienvenidos a mi blog de comida {% endblock %}

{% block subtitulo %} este es un blog de cocina {% endblock %}

{% block contenido %}

<h4>{{ mensaje1 }}</h4>
<h4>{{ mensaje2 }}</h4>

<form action="{% url 'user_editar_perfil' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <!-- Estuve un dia entero peleandome con esto por no poner el enctype --> 
    <table>
        {{ form_perfil.as_table }}
        {{ form_user.as_table }}
    </table>
    <input type="submit" value="Ingresar">
</form>

{% endblock %}